@font-face {
    font-family: "RocGroteskRegular";
    src: url("./webFonts/RocGroteskRegular/font.woff2") format("woff2"),
        url("./webFonts/RocGroteskRegular/font.woff") format("woff");
}
@font-face {
    font-family: "RocGroteskRegular";
    src:  url("./webFonts/RocGroteskRegular/font.woff2") format("woff2"),
      url("./webFonts/RocGroteskRegular/font.woff") format("woff"),
      url("./webFonts/RocGroteskRegular/font.woff") format("truetype");
  }